includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database/migrations/create_invoice_table.php
        - database/migrations/create_invoice_lines_table.php
        - database/migrations/create_numbers_table.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Unsafe usage of new static#'

